#kundvagn{
    height:80vh;
    overflow-y:scroll;
    min-width: 33%;
    width: auto;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(155, 151, 151);
    position: fixed;
    bottom:0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.kundvagnItem{
    width: 100%;
    min-height: 15vh;
    margin: 40px 30px;
    border-bottom: 1px solid rgb(129, 92, 92);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.productInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    color: rgb(37, 37, 37);
    font-family: 'Verdana', sans-serif;
}

.productInfo > h3{
    align-self: flex-start;
}

.productInfo > h4{
    align-self: flex-end;
}

.kundvagnItem > img{
    height:100px;
    margin-left: 20px;
}

#totalPrice{
    min-height: 15vh;
    color: rgb(37, 37, 37);
    font-family: 'Verdana', sans-serif;
    align-self: flex-end;
    padding-right: 30px;
}

.fa-close{
    color: rgb(37, 37, 37);
    align-self: flex-end;
    margin: 15px 15px 0 0;
}

.fa-close:hover{
    cursor: pointer;
    color: rgba(37, 37, 37, 0.652);
}

.fa-trash{
    margin-left:20px;
    color:rgb(37, 37, 37);
}

.fa-trash:hover{
    cursor: pointer;
    color: rgba(253, 2, 2, 0.726);
    color: #FFFFFF;
}

.smaller{
    font-size: 14px;
}
