@import url('https://fonts.googleapis.com/css?family=Anton');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 30px;
  cursor: default;
}

header{
  align-items: center;
  flex-direction: row;
  font-family: 'Anton', sans-serif;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 50px;
}
#logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}
.navbar{
  align-items: flex-end;
  display:inline-flex;
  justify-content: space-between;
  list-style: none;
  margin:0;
  top:0;
  width: auto;
}

.navbar>li>a{
  cursor: pointer;
  font-size: 20px;
  margin:10px;
  text-decoration: none;
}
.navbar>li>a:hover{
  color:#61DAFB;
}
.productsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  list-style: none;
  padding: 0;

}

.productsItem{
  /* border: 0.5px solid black; */
  background-color: #F7F7F7;
  margin:10px;
  padding: 10px;
  transition: 0.3s;
  width: 300px;
}
.productsItem:hover{
  box-shadow: 0px 0px 80px -11px rgba(0,0,0,0.75);
  transition: 0.3s;
}

.productsItem img{
  width: 100%;
  height: auto;
}
.productsItem button{
  background-color: #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
  font-weight: 600;
  width: 100%;
  height: 50px;
}
.productsItem button:hover{
  background-color: #61DAFB;
  border:1px solid #61DAFB;
  color: #000000;
}
.form{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin: 20px;
  padding: 5px;
  height: auto;
}
.form input{
  background-color: #FFFFFF;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 30px;
  width: auto;
  margin: 10px;
  justify-content: space-between;
}
.form button{
  background-color: #2dbe60;
  border: 1px solid #2dbe60;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 600;
  height: 50px;
  margin: 20px;
  width: 30%;
}
.historyList{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 50%;
  margin: 20px;
  padding: 5px;
  height: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 600px) {
  body,html {
    background-color: #9dbc7a;
    box-sizing: border-box;

  }
  .App-title{
    font-size: 18px;
  }
  .productsList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 0;
    margin:0;
    width: auto;
  }
  .productsItem{
    border: 0.5px solid black;
    width: auto;
    padding:0;
    margin: 0;
  }
  .form{
    margin:0;
    margin-top:30px;
    width: auto;
  }


}
