@import url('https://fonts.googleapis.com/css?family=Anton');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

header{
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Anton', sans-serif;
}
#logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#logo{
  height: 100px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.productsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  padding: 0;

}
.productsItem{
  border: 1px solid black;
  margin:10px;
  width: 350px;
}

.productsItem img{
  width: 100%;
  height: auto;
}
.productsItem button{
  background-color: #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
  font-weight: 600;
  width: 100%;
  height: 50px;
}
.productsItem button:hover{
  background-color: #FFFFFF;
  color: #000000;
}
.form{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 50%;
  margin: 20px;
  padding: 5px;
  height: 200px;
}
.form input{
  background-color: #FFFFFF;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 30px;
  width: 100%;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 600px) {
  body,html {
    background-color: #9dbc7a;
    box-sizing: border-box;

  }
  .productsList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 0;
    margin:0;
    width: 100vw;
  }
  .productsItem{
    width: 100%;
    margin: 0;
  }
  .form{
    margin:0;
    margin-top:30px;
    width:100%;

  }

}